.language-switcher .lang-item {
	float: left;
	border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.language-switcher .lang-item:first-child {
	border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.language-switcher .lang-item a {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 16px;
	list-style: none;
	line-height: 40px;
	text-align: center;
}
.language-switcher .lang-item a img {
	vertical-align: middle;
}
.language-switcher .lang-item.current-lang a img {
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}
